
  <!-- Start of header area -->
  <header  class="header-area header-wrapper bg-white clearfix">
    <!-- Start Sidebar Menu -->
    <div class="sidebar-menu">
      <div class="sidebar-menu-inner"></div>
      <span class="fa fa-remove"></span>
    </div>
    <!-- End Sidebar Menu -->

    {{ page.topmenu }}

    {{ page.header }}

    {{ page.main_navigation }}
