{#TİTLE#}

{#<span{{ attributes }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</span>#}

{#BODY#}





    <div{{ attributes }}>
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>

  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{#{{ label }}#}</div>
    {% if multiple %}
    <div>
      {% endif %}
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
      {% if multiple %}
    </div>
    {% endif %}
  </div>


{#IMAGES#}

{#<img{{ attributes }} />#}
