{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{#  {{ title_suffix }}#}

<div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
   <div{{ attributes.addClass('zm-widget pr-50 pl-20') }}>
      {{ title_prefix }}
      {% if label %}
    <h2 class="h6 zm-widget-title uppercase text-white mb-30">{{ label }}</h2>
      {% endif %}
      {% block content %}
    <div class="zm-widget-content">
      <div class="zm-category-widget zm-category-1">
      {{ content }}
      </div>
    </div>
      {% endblock %}
  </div>
</div>
