{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="row mb-40">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    {% if label %}
    <div class="section-title">
      <h2 class="h6 header-color inline-block uppercase">{{ label }}</h2>
    </div>
    {% endif %}
  </div>
</div>

{% block content %}

{#  <h1>xxx {{ content.field.title }}</h1>#}
{#  <h2>yyy {{ field_kategori }}</h2>#}
{#  <h3>zzz {{ content.field_kategori }}</h3>#}
<div class="row">
  <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6">
    <div class="zm-posts">
      <article class="zm-post-lay-a">
        <div class="zm-post-thumb">
          <a href="#"><img src="images/post/a/1.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
            <h2 class="zm-post-title h2"><a href="#">Don Kişot kolektifi bisiklet ve kent çalıştayı yapıldı.</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Seçil ZOR</a></li>
                <li class="s-meta"><a href="#" class="zm-date">03 Ocak 2019</a></li>
              </ul>
            </div>
          </div>
          <div class="zm-post-content">
            <p>Kolektifin bu yıl ikinci kez organize ettiği bisiklet ve kent çalıştayı, 12-13 Ocak 2019 tarihlerinde Saat 13:00-19:00'da İstanbul Mimarlar Odası Büyükkent Şubesi Karaköy'de yapıldı.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6">
    <div class="zm-posts">
  {{ content }}
    </div>
  </div>
</div>
{% endblock %}
