{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
          <div class="global-table">
            <div class="global-row">
              <div class="global-cell">
                <div class="logo">
                  {% if site_logo %}
                    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
                      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" height="100" />
                    </a>
                  {% endif %}
                  {% if site_name %}
                    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
                  {% endif %}
{#                  {{ site_slogan }}#}
                  <!-- <p class="site-desc">Bisikletli Kadın İnisiyatifi</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-7 col-sm-7 col-xs-12 col-lg-offset-1 header-mdh hidden-xs">
          <div class="global-table">
            <div class="global-row">
              <div class="global-cell">
                <div class="advertisement text-right">
{#                  <a href="#" class="block"><img src="images/ad/header-btn.png" alt="bki destek"></a>#}
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
