{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
  {# Menu. #}
  {% block content %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
    <div class="header-top-right clierfix text-right">
      <div class="header-social-bookmark topbar-sblock">
    {{ content }}
      </div>
      <div class="zmaga-calendar topbar-sblock">
        <span class="calendar uppercase">22 Ocak 2019</span>
      </div>
      <div class="user-accoint topbar-sblock">
        <span class="login-btn uppercase">Giriş</span>
        <div class="login-form-wrap bg-white">
          <form class="zm-signin-form text-left">
            <input type="text" class="zm-form-control username" placeholder="Email">
            <input type="password" class="zm-form-control password" placeholder="Şifre">
            <input type="checkbox" value=" Remember Me" class="remember"> &nbsp;Beni Hatırla<br>
            <div class="zm-submit-box clearfix  mt-20">
              <input type="submit" value="Login">
              <a href="registration.html">Kayıt</a>
            </div>
            <a href="#" class="zm-forget">Şifremi Unuttum!</a>
            <div class="zm-login-social-box">
              <a href="#" class="social-btn bg-facebook block"><span class="btn_text"><i class="fa fa-facebook"></i>Facebook ile giriş yap!</span></a>
              <a href="#" class="social-btn bg-twitter block"><span class="btn_text"><i class="fa fa-twitter"></i>Twitter ile giriş yap!</span></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
