{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>

    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
      <js-placeholder token="{{ placeholder_token|raw }}">
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="themes/custom/bki/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="themes/custom/bki/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="themes/custom/bki/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="themes/custom/bki/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="themes/custom/bki/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="themes/custom/bki/css/custom.css">

    <!-- Modernizr JS -->
    <script src="themes/custom/bki/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">

{#      <!--  THEME PRELOADER AREA -->
      <div id="preloader-wrapper">
        <div class="preloader-wave-effect"></div>
      </div>
      <!-- THEME PRELOADER AREA END -->#}
    <!-- jquery latest version -->
    <script src="themes/custom/bki/js/vendor/jquery-1.12.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="themes/custom/bki/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="themes/custom/bki/js/owl.carousel.min.js"></script>
    <script src="themes/custom/bki/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="themes/custom/bki/js/main.js"></script>
  </body>
</html>
