<!-- Body main wrapper start -->
<div class="wrapper">

  <!-- Start of header area -->
  <header  class="header-area header-wrapper bg-white clearfix">
    <!-- Start Sidebar Menu -->
    <div class="sidebar-menu">
      <div class="sidebar-menu-inner"></div>
      <span class="fa fa-remove"></span>
    </div>
    <!-- End Sidebar Menu -->
    <div class="header-top-bar bg-dark ptb-10">
      <div class="container">
        {{ page.topmenu }}
      </div>
    </div>
    <div class="header-middle-area">
      <div class="container">
        {{ page.header }}
      </div>
    </div>
    <div class="header-bottom-area hidden-sm hidden-xs">
      <div class="container">
        {{ page.main_navigation }}
      </div>
    </div>
  </header>
  <!-- End of header area -->

  <!-- Start page content -->
  <div id="page-content" class="page-wrapper">
    <div class="zm-section single-post-wrap bg-white ptb-30 xs-pt-30">
      <div class="container">

        {{ page.content}}


      </div>
    </div>
  </div>
  <!-- End page content -->

  <!-- Start footer area -->

  {% if page.footer_first or page.footer_second %}
  <!-- Start footer area -->
  <footer id="footer" class="footer-wrapper footer-1">
    <!-- Start footer top area -->
    <div class="footer-top-wrap ptb-70 bg-dark">
      <div class="container">
        {{ page.footer_first }}
      </div>
    </div>
    <!-- End footer top area -->
    <div class="footer-buttom bg-black ptb-15">
      <div class="container">
        {{ page.footer_second }}
      </div>
    </div>
  </footer>
  <!-- End footer area -->

</div>
{% endif %}
<!-- End footer area -->
