<div class="trending-post-area">
  <div class="container-fluid">
    <div class="row">
      <div class="trend-post-list zm-posts owl-active-1 clearfix">


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'container' -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/form/container.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view--slider-bki--block-1.html.twig
           * views-view--slider-bki.html.twig
           * views-view--slider-bki--block-1.html.twig
           * views-view.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view--slider_bki--block-1.html.twig' -->





        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_unformatted__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-unformatted--slider-bki--block-1.html.twig
           * views-view-unformatted--slider-bki.html.twig
           * views-view-unformatted--slider-bki--block-1.html.twig
           * views-view-unformatted.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-unformatted--slider_bki--block-1.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_fields__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields--slider-bki.html.twig
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- Start single trend post -->
        <div class="col-2">
          <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
            <div class="zm-post-thumb">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'views_view_field' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_formatter' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_style' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
              <img src="/sites/default/files/styles/slider/public/2019/cycling-west-region-mayo-616-high-res.jpg?itok=5W1aQ-VP" width="458" height="666" alt="" typeof="foaf:Image">

              <!-- END OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


            </div>
            <div class="zm-post-dis text-white">
              <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Bisiklet Festivalleri
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></div>
              <h2 class="zm-post-title"><a href="#">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                ‘Bisiklet Cumhuriyeti Ula’ belgeseli yayında
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></h2>
              <div class="zm-post-meta">
                <ul>
                  <li class="s-meta"><a href="#" class="zm-author">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    ozlem.oktay
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                  <li class="s-meta"><a href="#" class="zm-date">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    11 Haziran 2019
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <!-- End single trend post -->






        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_fields__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields--slider-bki.html.twig
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- Start single trend post -->
        <div class="col-2">
          <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
            <div class="zm-post-thumb">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'views_view_field' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_formatter' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_style' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
              <img src="/sites/default/files/styles/slider/public/2019/D337zAfWkAIr_1h.jpg?itok=hiVTysyq" width="458" height="666" alt="" typeof="foaf:Image">

              <!-- END OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


            </div>
            <div class="zm-post-dis text-white">
              <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Bisiklet Festivalleri
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></div>
              <h2 class="zm-post-title"><a href="#">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Bisikletli Kadın İnisiyatifi Velo-City 2019 Konferansında!
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></h2>
              <div class="zm-post-meta">
                <ul>
                  <li class="s-meta"><a href="#" class="zm-author">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    ozlem.oktay
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                  <li class="s-meta"><a href="#" class="zm-date">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    11 Haziran 2019
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <!-- End single trend post -->






        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_fields__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields--slider-bki.html.twig
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- Start single trend post -->
        <div class="col-2">
          <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
            <div class="zm-post-thumb">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'views_view_field' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_formatter' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_style' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
              <img src="/sites/default/files/styles/slider/public/2019/BK%C4%B0-2.jpg?itok=5AZ3QKgA" width="458" height="666" alt="" typeof="foaf:Image">

              <!-- END OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


            </div>
            <div class="zm-post-dis text-white">
              <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Etkinlikler
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></div>
              <h2 class="zm-post-title"><a href="#">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Bisikletli Kadınlar Muğla'da Buluşuyor!
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></h2>
              <div class="zm-post-meta">
                <ul>
                  <li class="s-meta"><a href="#" class="zm-author">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    ozlem.oktay
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                  <li class="s-meta"><a href="#" class="zm-date">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    11 Haziran 2019
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <!-- End single trend post -->






        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_fields__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields--slider-bki.html.twig
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- Start single trend post -->
        <div class="col-2">
          <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
            <div class="zm-post-thumb">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'views_view_field' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_formatter' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_style' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
              <img src="/sites/default/files/styles/slider/public/2019/kilavuz.jpg?itok=szScTeV1" width="458" height="666" alt="" typeof="foaf:Image">

              <!-- END OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


            </div>
            <div class="zm-post-dis text-white">
              <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Nasıl Başlarım
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></div>
              <h2 class="zm-post-title"><a href="#">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Kadınlar için bisiklet kılavuzu yayınlandı!
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></h2>
              <div class="zm-post-meta">
                <ul>
                  <li class="s-meta"><a href="#" class="zm-author">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    ozlem.oktay
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                  <li class="s-meta"><a href="#" class="zm-date">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    11 Haziran 2019
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <!-- End single trend post -->






        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->



        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_view_fields__slider_bki__block_1' -->
        <!-- FILE NAME SUGGESTIONS:
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields--slider-bki.html.twig
           * views-view-fields--slider-bki--block-1.html.twig
           * views-view-fields.html.twig
        -->
        <!-- BEGIN OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- Start single trend post -->
        <div class="col-2">
          <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
            <div class="zm-post-thumb">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'views_view_field' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_formatter' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image_style' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'image' -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->
              <img src="/sites/default/files/styles/slider/public/2019/Se%C3%A7il%20ve%20Zeynep.jpg?itok=EQ_SAzuy" width="458" height="666" alt="secil-zor" typeof="foaf:Image">

              <!-- END OUTPUT from 'core/themes/stable/templates/field/image.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-style.html.twig' -->



              <!-- END OUTPUT from 'core/themes/stable/templates/field/image-formatter.html.twig' -->


              <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


            </div>
            <div class="zm-post-dis text-white">
              <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Etkinlikler
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></div>
              <h2 class="zm-post-title"><a href="#">

                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'views_view_field' -->
                <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                Trapez Kadro
                <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

              </a></h2>
              <div class="zm-post-meta">
                <ul>
                  <li class="s-meta"><a href="#" class="zm-author">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    atilla.oktay
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                  <li class="s-meta"><a href="#" class="zm-date">

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'views_view_field' -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
                    11 Haziran 2019
                    <!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

                  </a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <!-- End single trend post -->






        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-fields--slider_bki--block-1.html.twig' -->


        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view-unformatted--slider_bki--block-1.html.twig' -->




        <!-- END OUTPUT from 'themes/custom/bki/templates/views/views-view--slider_bki--block-1.html.twig' -->



        <!-- END OUTPUT from 'themes/custom/bki/templates/form/container.html.twig' -->


      </div>
    </div>
  </div>
</div>
