<div class="row mb-40">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <div class="section-title">
      <h2 class="h6 header-color inline-block uppercase">Popüler Haberler</h2>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6">
    <div class="zm-posts">
      <article class="zm-post-lay-a">
        <div class="zm-post-thumb">
          <a href="#"><img src="images/post/a/1.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
            <h2 class="zm-post-title h2"><a href="#">Don Kişot kolektifi bisiklet ve kent çalıştayı yapıldı.</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Seçil ZOR</a></li>
                <li class="s-meta"><a href="#" class="zm-date">03 Ocak 2019</a></li>
              </ul>
            </div>
          </div>
          <div class="zm-post-content">
            <p>Kolektifin bu yıl ikinci kez organize ettiği bisiklet ve kent çalıştayı, 12-13 Ocak 2019 tarihlerinde Saat 13:00-19:00'da İstanbul Mimarlar Odası Büyükkent Şubesi Karaköy'de yapıldı.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6">
    <div class="zm-posts">
      <!-- Start single post layout D -->
      <article class="zm-post-lay-d clearfix">
        <div class="zm-post-thumb f-left">
          <a href="#"><img src="images/post/d/1.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis f-right">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
            <h2 class="zm-post-title"><a href="#">Emel SALI'den bisikletli anneler için ipuçları...</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Emel SALI</a></li>
                <li class="s-meta"><a href="#" class="zm-date">18 Aralık 2019</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- Start single post layout D -->
      <!-- End single post layout D -->
      <article class="zm-post-lay-d clearfix">
        <div class="zm-post-thumb f-left">
          <a href="#"><img src="images/post/d/2.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis f-right">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Buluşma</a></div>
            <h2 class="zm-post-title "><a href="#">Bisikletli Kadınlar Edirne'de buluşuyor.</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                <li class="s-meta"><a href="#" class="zm-date">29 Haziran 2018</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- Start single post layout D -->
      <!-- End single post layout D -->
      <article class="zm-post-lay-d clearfix">
        <div class="zm-post-thumb f-left">
          <a href="#"><img src="images/post/d/3.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis f-right">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
            <h2 class="zm-post-title "><a href="#">Bisikletli Kadınlar belgeseli Cannes Film Festivalinde prömierini yapıyor.</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                <li class="s-meta"><a href="#" class="zm-date">1 Nisan 2019</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- Start single post layout D -->
      <!-- End single post layout D -->
      <article class="zm-post-lay-d clearfix">
        <div class="zm-post-thumb f-left">
          <a href="#"><img src="images/post/d/4.jpg" alt="img"></a>
        </div>
        <div class="zm-post-dis f-right">
          <div class="zm-post-header">
            <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Etkinlik</a></div>
            <h2 class="zm-post-title "><a href="#">Hale SARGIN'ın söyleşisi yarın akşam Bisikletli Mekan'da. Hepiniz davetlisiniz :)</a></h2>
            <div class="zm-post-meta">
              <ul>
                <li class="s-meta"><a href="#" class="zm-author">Zeynep ARABOĞLU</a></li>
                <li class="s-meta"><a href="#" class="zm-date">20 Ocak 2019</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- End single post layout D -->
    </div>
  </div>
</div>

