<!-- Body main wrapper start -->
<div class="wrapper">
  <!-- Start of header area -->
  <header  class="header-area header-wrapper bg-white clearfix">
    <!-- Start Sidebar Menu -->
    <div class="sidebar-menu">
      <div class="sidebar-menu-inner"></div>
      <span class="fa fa-remove"></span>
    </div>
    <!-- End Sidebar Menu -->
    <div class="header-top-bar bg-dark ptb-10">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7  hidden-xs">
            <div class="header-top-left">
              <nav class="header-top-menu zm-secondary-menu">
                <ul>
                  <li><a href="#">Anasayfa</a></li>
                  <li><a href="#">Hakkımızda</a></li>
                  <li><a href="#">Serbest Kürsü </a></li>
                  <li><a href="#">Basında Biz</a></li>
                  <li><a href="#">İletişim</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <div class="header-top-right clierfix text-right">
              <div class="header-social-bookmark topbar-sblock">
                <ul>
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="mailto:bki@bisikletlikadin.com?Subject=Merhaba" target="_top"><i class="fa fa-at"></i></a>
                  </li>
                </ul>
              </div>
              <div class="zmaga-calendar topbar-sblock">
                <span class="calendar uppercase">22 Ocak 2019</span>
              </div>
              <div class="user-accoint topbar-sblock">
                <span class="login-btn uppercase">Giriş</span>
                <div class="login-form-wrap bg-white">
                  <form class="zm-signin-form text-left">
                    <input type="text" class="zm-form-control username" placeholder="Email">
                    <input type="password" class="zm-form-control password" placeholder="Şifre">
                    <input type="checkbox" value=" Remember Me" class="remember"> &nbsp;Beni Hatırla<br>
                    <div class="zm-submit-box clearfix  mt-20">
                      <input type="submit" value="Login">
                      <a href="registration.html">Kayıt</a>
                    </div>
                    <a href="#" class="zm-forget">Şifremi Unuttum!</a>
                    <div class="zm-login-social-box">
                      <a href="#" class="social-btn bg-facebook block"><span class="btn_text"><i class="fa fa-facebook"></i>Facebook ile giriş yap!</span></a>
                      <a href="#" class="social-btn bg-twitter block"><span class="btn_text"><i class="fa fa-twitter"></i>Twitter ile giriş yap!</span></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
            <div class="global-table">
              <div class="global-row">
                <div class="global-cell">
                  <div class="logo">
                    <a href="index.html">
                      <img src="images/logo/logo.png" height="100" alt="bki logo">
                    </a>
                    <!-- <p class="site-desc">Bisikletli Kadın İnisiyatifi</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-7 col-sm-7 col-xs-12 col-lg-offset-1 header-mdh hidden-xs">
            <div class="global-table">
              <div class="global-row">
                <div class="global-cell">
                  <div class="advertisement text-right">
                    <a href="#" class="block"><img src="images/ad/header-btn.png" alt="bki destek"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom-area hidden-sm hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="menu-wrapper  bg-theme clearfix">
              <div class="row">
                <div class="col-md-11">
                  <button class="sidebar-menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <div class="mainmenu-area">
                    <nav class="primary-menu uppercase">
                      <ul class="clearfix">
                        <li><a href="#">Ana Sayfa</a></li>
                        <li class="current drop"><a href="#">Biz Kimiz</a>
                          <ul class="dropdown">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Manifesto</a></li>
                            <li><a href="#">Temsilciler</a></li>
                          </ul>
                        </li>
                        <li class="drop"><a href="#">Ne Yaparız</a>
                          <ul class="dropdown">
                            <li><a href="#">Bisiklet Eğitimleri</a></li>
                            <li><a href="#">Sürüş Etkinlikleri</a></li>
                            <li><a href="#">Buluşmalar</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Pedallayan Kadınlar</a></li>
                        <li><a href="#">Etkinlikler</a></li>
                        <li class="drop"><a href="#">Bisikletli Yaşam</a>
                          <ul class="dropdown">
                            <li><a href="#">Nasıl Başlarım</a></li>
                            <li><a href="#">Bakım-Onarım</a></li>
                            <li><a href="#">Bisiklet Festivalleri</a></li>
                            <li><a href="#">Bisiklet Grupları</a></li>
                            <li><a href="#">Film ve Belgeseller</a></li>
                            <li><a href="#">Bisiklet Çeşitleri</a></li>
                            <li><a href="#">Bisiklet Seçimi</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Sizden Gelenler</a></li>
                        <li><a href="#">Basın</a></li>
                        <li><a href="#">İletişim</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="search-wrap pull-right">
                    <div class="search-btn"><i class="fa fa-search"></i></div>
                    <div class="search-form">
                      <form action="#">
                        <input type="search" placeholder="Arama">
                        <button type="submit"><i class='fa fa-search'></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
      <div class="fluid-container">
        <div class="mobile-menu clearfix">
          <div class="search-wrap mobile-search">
            <div class="mobile-search-btn"><i class="fa fa-search"></i></div>
            <div class="mobile-search-form">
              <form action="#">
                <input type="text" placeholder="Search">
                <button type="submit"><i class='fa fa-search'></i></button>
              </form>
            </div>
          </div>
          <nav id="mobile_dropdown">
            <ul>
              <li><a href="#">Ana Sayfa</a>
              <li class="current drop"><a href="#">Biz Kimiz</a>
                <ul class="dropdown level2">
                  <li><a href="#">Hakkımızda</a></li>
                  <li><a href="#">Manifesto</a></li>
                  <li><a href="#">Temsilciler</a></li>
                </ul>
              </li>
              <li><a href="#">Ne Yaparız</a>
                <ul class="dropdown level2">
                  <li><a href="#">Bisiklet Eğitimleri</a></li>
                  <li><a href="#">Sürüş Etkinlikleri</a></li>
                  <li><a href="#">Buluşmalar</a></li>
                </ul>
              </li>
              <li><a href="#">Pedallayan Kadınlar</a></li>
              <li><a href="#">Etkinlikler</a></li>
              <li><a href="#">Bisikletli Yaşam</a>
                <ul class="dropdown level2">
                  <li><a href="#">Nasıl Başlarım</a></li>
                  <li><a href="#">Bakım-Onarım</a></li>
                  <li><a href="#">Bisiklet Festivalleri</a></li>
                  <li><a href="#">Bisiklet Grupları</a></li>
                  <li><a href="#">Film ve Belgeseller</a></li>
                  <li><a href="#">Bisiklet Çeşitleri</a></li>
                  <li><a href="#">Bisiklet Seçimi</a></li>
                </ul>
              </li>
              <li><a href="#">Sizden Gelenler</a></li>
              <li><a href="#">Basın</a></li>
              <li><a href="#">İletişim</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- mobile-menu-area end -->
    <div class="breakingnews-wrapper hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="breakingnews clearfix fix">
              <div class="bn-title">
                <h6 class="uppercase">SERBEST KÜRSÜ</h6>
              </div>
              <div class="news-wrap">
                <ul class="bkn clearfix" id="bkn">
                  <li>14.02.2019 Maltepe'den Kadıköy'e saat 11:00'de yola çıkacağım eşlik etmek isteyen arkadaşlar? | @ozlemokt</li>
                  <li>Yarın akşam Açık Radyo'da Trapez Kadro programına bekleriz... | @editor</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End of header area -->
  <!-- Start trending post area -->
  <div class="trending-post-area">
    <div class="container-fluid">
      <div class="row">
        <div class="trend-post-list zm-posts owl-active-1 clearfix">
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/1.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Buluşma</a></div>
                <h2 class="zm-post-title"><a href="#">Caddebostan sahilde bisiklet bakım onarım eğitimi.</a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">2 Şubat 2018, 10:30</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/2.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Etkinlik</a></div>
                <h2 class="zm-post-title"><a href="#">Yazın ilk turunda aramızda olmaya ne dersiniz? :)</a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">15 Haziran 2019 11:00</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/10.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Basın</a></div>
                <h2 class="zm-post-title"><a href="haber.html">Bisikletli Kadınlar Facebook sahnesinde. <span style="color:yellow">&lsaquo;TIKLA&rsaquo;</span></a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">19 Şubat 2018</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/4.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
                <h2 class="zm-post-title"><a href="#">Kadınlar için bisiklet kılavuzu yayınladı.</a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Seçil YAKAN</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">15 Haziran 2017</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/11.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Sizden Gelenler</a></div>
                <h2 class="zm-post-title"><a href="#">Kapadokya'da Bisiklet Sürüş Deneyimi</a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Gülay ÇAMURSOY</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">28 Eylül 2018</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
          <!-- Start single trend post -->
          <div class="col-2">
            <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3" >
              <div class="zm-post-thumb">
                <img src="images/post/trend/a/12.jpg" alt="img">
              </div>
              <div class="zm-post-dis text-white">
                <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Etkinlik</a></div>
                <h2 class="zm-post-title"><a href="#">Trafikte bisikletli kadın atölyesi.</a></h2>
                <div class="zm-post-meta">
                  <ul>
                    <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                    <li class="s-meta"><a href="#" class="zm-date">1 Kasım 2018</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <!-- End single trend post -->
        </div>
      </div>
    </div>
  </div>
  <!-- End trending post area -->

  <!-- Start page content -->
  <section id="page-content" class="page-wrapper">
    <!-- Start Popular News [layout A+D]  -->
    <div class="zm-section bg-white ptb-70">
      <div class="container">
        <div class="row mb-40">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="section-title">
              <h2 class="h6 header-color inline-block uppercase">Popüler Haberler</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6">
            <div class="zm-posts">
              <article class="zm-post-lay-a">
                <div class="zm-post-thumb">
                  <a href="#"><img src="images/post/a/1.jpg" alt="img"></a>
                </div>
                <div class="zm-post-dis">
                  <div class="zm-post-header">
                    <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
                    <h2 class="zm-post-title h2"><a href="#">Don Kişot kolektifi bisiklet ve kent çalıştayı yapıldı.</a></h2>
                    <div class="zm-post-meta">
                      <ul>
                        <li class="s-meta"><a href="#" class="zm-author">Seçil ZOR</a></li>
                        <li class="s-meta"><a href="#" class="zm-date">03 Ocak 2019</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="zm-post-content">
                    <p>Kolektifin bu yıl ikinci kez organize ettiği bisiklet ve kent çalıştayı, 12-13 Ocak 2019 tarihlerinde Saat 13:00-19:00'da İstanbul Mimarlar Odası Büyükkent Şubesi Karaköy'de yapıldı.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6">
            <div class="zm-posts">
              <!-- Start single post layout D -->
              <article class="zm-post-lay-d clearfix">
                <div class="zm-post-thumb f-left">
                  <a href="#"><img src="images/post/d/1.jpg" alt="img"></a>
                </div>
                <div class="zm-post-dis f-right">
                  <div class="zm-post-header">
                    <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
                    <h2 class="zm-post-title"><a href="#">Emel SALI'den bisikletli anneler için ipuçları...</a></h2>
                    <div class="zm-post-meta">
                      <ul>
                        <li class="s-meta"><a href="#" class="zm-author">Emel SALI</a></li>
                        <li class="s-meta"><a href="#" class="zm-date">18 Aralık 2019</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Start single post layout D -->
              <!-- End single post layout D -->
              <article class="zm-post-lay-d clearfix">
                <div class="zm-post-thumb f-left">
                  <a href="#"><img src="images/post/d/2.jpg" alt="img"></a>
                </div>
                <div class="zm-post-dis f-right">
                  <div class="zm-post-header">
                    <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Buluşma</a></div>
                    <h2 class="zm-post-title "><a href="#">Bisikletli Kadınlar Edirne'de buluşuyor.</a></h2>
                    <div class="zm-post-meta">
                      <ul>
                        <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        <li class="s-meta"><a href="#" class="zm-date">29 Haziran 2018</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Start single post layout D -->
              <!-- End single post layout D -->
              <article class="zm-post-lay-d clearfix">
                <div class="zm-post-thumb f-left">
                  <a href="#"><img src="images/post/d/3.jpg" alt="img"></a>
                </div>
                <div class="zm-post-dis f-right">
                  <div class="zm-post-header">
                    <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
                    <h2 class="zm-post-title "><a href="#">Bisikletli Kadınlar belgeseli Cannes Film Festivalinde prömierini yapıyor.</a></h2>
                    <div class="zm-post-meta">
                      <ul>
                        <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                        <li class="s-meta"><a href="#" class="zm-date">1 Nisan 2019</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Start single post layout D -->
              <!-- End single post layout D -->
              <article class="zm-post-lay-d clearfix">
                <div class="zm-post-thumb f-left">
                  <a href="#"><img src="images/post/d/4.jpg" alt="img"></a>
                </div>
                <div class="zm-post-dis f-right">
                  <div class="zm-post-header">
                    <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Etkinlik</a></div>
                    <h2 class="zm-post-title "><a href="#">Hale SARGIN'ın söyleşisi yarın akşam Bisikletli Mekan'da. Hepiniz davetlisiniz :)</a></h2>
                    <div class="zm-post-meta">
                      <ul>
                        <li class="s-meta"><a href="#" class="zm-author">Zeynep ARABOĞLU</a></li>
                        <li class="s-meta"><a href="#" class="zm-date">20 Ocak 2019</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <!-- End single post layout D -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Popular News [layout A+D]  -->

    <!-- Start world news [layout A1+E+A]  -->
    <div class="zm-section bg-gray ptb-70">
      <div class="container">
        <div class="row">
          <!-- Start left side -->
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row mb-40">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2 class="h6 header-color inline-block uppercase">Bisikletli Yaşam</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="zm-posts clearfix">
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/1.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Bakım ve Onarım </a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/2.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Bisiklet Festivalleri </a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/3.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Bisiklet Grupları </a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/4.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Film ve Belgeseller </a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/5.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Bisiklet Çeşitleri</a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
                <!-- Start single post layout B -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <article class="zm-trending-post zm-lay-a1 zm-single-post" data-effict-zoom="1">
                    <div class="zm-post-thumb">
                      <a href="#" data-dark-overlay="2.5"  data-scrim-bottom="9"><img src="images/post/trend/b/6.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis text-white">
                      <h2 class="zm-post-title h3"><a href="#">Bisiklet Seçimi </a></h2>
                      <div class="zm-post-meta">
                        <ul>
                          <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- End single post layout B -->
              </div>
            </div>
            <!-- Start Advertisement -->
            <div class="advertisement">
              <div class="row mt-40">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <a href="#"><img src="images/ad/2.jpg" alt="bki destek"></a>
                </div>
              </div>
            </div>
            <!-- End Advertisement -->
          </div>
          <!-- End left side -->

          <!-- Start Righr side -->
          <div class="col-xs-12 col-sm-12 hidden-sm col-md-4 col-lg-4">
            <!-- Start post layout E -->
            <aside class="zm-post-lay-e-area">
              <div class="row mb-40">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="section-title">
                    <h2 class="h6 header-color inline-block uppercase">Pedallayan Kadınlar</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="zm-posts">
                    <!-- Start single post layout E -->
                    <article class="zm-post-lay-e zm-single-post clearfix">
                      <div class="zm-post-thumb f-left">
                        <a href="#"><img src="images/post/e/1.jpg" alt="img"></a>
                      </div>
                      <div class="zm-post-dis f-right">
                        <div class="zm-post-header">
                          <h2 class="zm-post-title"><a href="#">Aygül ORHAN, üç yıldır işine bisikletle gidiyor.</a></h2>
                          <div class="zm-post-meta">
                            <ul>
                              <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                              <li class="s-meta"><a href="#" class="zm-date">25 Aralık 2018</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- Start single post layout E -->
                    <!-- Start single post layout E -->
                    <article class="zm-post-lay-e zm-single-post clearfix">
                      <div class="zm-post-thumb f-left">
                        <a href="#"><img src="images/post/e/2.jpg" alt="img"></a>
                      </div>
                      <div class="zm-post-dis f-right">
                        <div class="zm-post-header">
                          <h2 class="zm-post-title"><a href="#">İrem ÇAĞIL kızıyla birlikte bisikletle Kuzey Avrupa'yı dolaştı.</a></h2>
                          <div class="zm-post-meta">
                            <ul>
                              <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                              <li class="s-meta"><a href="#" class="zm-date">25 Mayıs 2017</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- Start single post layout E -->
                    <!-- Start single post layout E -->
                    <article class="zm-post-lay-e zm-single-post clearfix">
                      <div class="zm-post-thumb f-left">
                        <a href="#"><img src="images/post/e/3.jpg" alt="img"></a>
                      </div>
                      <div class="zm-post-dis f-right">
                        <div class="zm-post-header">
                          <h2 class="zm-post-title"><a href="#">Şeyma ŞAHİN, bankadaki işini bırakıp, bisiklet dükkanı açtı.</a></h2>
                          <div class="zm-post-meta">
                            <ul>
                              <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                              <li class="s-meta"><a href="#" class="zm-date">14 Şubat 2017</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- Start single post layout E -->
                    <!-- Start single post layout E -->
                    <article class="zm-post-lay-e zm-single-post hidden-md clearfix">
                      <div class="zm-post-thumb f-left">
                        <a href="#"><img src="images/post/e/4.jpg" alt="img"></a>
                      </div>
                      <div class="zm-post-dis f-right">
                        <div class="zm-post-header">
                          <h2 class="zm-post-title"><a href="#">Aslıhan SEVEN, Polenezköy'deki nikah törenini bisikletiyle gitti.</a></h2>
                          <div class="zm-post-meta">
                            <ul>
                              <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                              <li class="s-meta"><a href="#" class="zm-date">19 Eylül 2016</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- Start single post layout E -->
                  </div>
                </div>
              </div>
            </aside>
            <!-- Start post layout E -->
            <!-- Start Day News -->
            <aside class="zm-post-lay-a-area  hidden-sm">
              <div class="row mb-40 mt-70">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="section-title">
                    <h2 class="h6 header-color inline-block uppercase">Trapez Kadro</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="zm-posts">
                    <article class="zm-post-lay-a sidebar">
                      <div class="zm-post-thumb">
                        <a href="#"><img src="images/post/b/1.jpg" alt="img"></a>
                      </div>
                      <div class="zm-post-dis">
                        <div class="zm-post-header">
                          <h2 class="zm-post-title h2"><a href="#">Bu akşamın konukları Atilla OKTAY ve Ahmet TORPİL.</a></h2>
                          <div class="zm-post-meta">
                            <ul>
                              <li class="s-meta"><a href="#" class="zm-author">Editor</a></li>
                              <li class="s-meta"><a href="#" class="zm-date">29 Ocak 2019 19:00</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </aside>
            <!-- Start Day News -->
          </div>
          <!-- End Right side -->
        </div>
      </div>
    </div>
    <!-- End world news [layout A1+E+A]  -->
    <!-- Start Video Post [View layout A]  -->
    <div class="video-post-area ptb-70 bg-dark">
      <div class="container">
        <div class="row mb-40">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section-title">
              <h2 class="h6 header-color inline-block uppercase">Videolar</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="zm-video-post-list zm-posts owl-active-3 navigator-1 clearfix">
            <!-- Start single video post [video layout A] -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="zm-video-post zm-video-lay-a zm-single-post">
                <div class="zm-video-thumb"  data-dark-overlay="2.5" >
                  <img src="http://img.youtube.com/vi/j48hqA32Jn4/maxresdefault.jpg" width="420" height="270" alt="video">
                  <a class="video-activetor" href="https://www.youtube.com/watch?v=j48hqA32Jn4">
                    <i class="fa fa-play-circle-o"></i>
                  </a>
                </div>
                <div class="zm-video-info text-white">
                  <h2 class="zm-post-title"><a href="blog-single-video.html">İstanbul bisiklete binmek için uygun bir şehir mi?</a></h2>
                  <div class="zm-post-meta">
                    <ul>
                      <li class="s-meta zm-post-time">0:53 min</li>
                      <li class="s-meta"><a href="#" class="zm-author">Journo</a></li>
                      <li class="s-meta"><a href="#" class="zm-date">13 Eylül 2016</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single video post [video layout A] -->
            <!-- Start single video post [video layout A] -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="zm-video-post zm-video-lay-a zm-single-post">
                <div class="zm-video-thumb" data-dark-overlay="2.5" >
                  <img src="http://img.youtube.com/vi/TmbSG8-TL7o/maxresdefault.jpg" width="420" height="270" alt="video">
                  <a class="video-activetor" href="https://www.youtube.com/watch?v=TmbSG8-TL7o">
                    <i class="fa fa-play-circle-o"></i>
                  </a>
                </div>
                <div class="zm-video-info  text-white">
                  <h2 class="zm-post-title"><a href="blog-single-video.html">Bisikletli Kadın İnisiyatifi - Bilmeyenlere Bisiklet Eğitimi. </a></h2>
                  <div class="zm-post-meta">
                    <ul>
                      <li class="s-meta zm-post-time">0:51 min</li>
                      <li class="s-meta"><a href="#" class="zm-author">Bisikletli Kadın İnisiyatifi</a></li>
                      <li class="s-meta"><a href="#" class="zm-date">25 Mart 2016</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single video post [video layout A] -->
            <!-- Start single video post [video layout A] -->
            <div class="col-xs-12 hiddne-sm col-md-4 col-lg-4">
              <div class="zm-video-post zm-video-lay-a zm-single-post">
                <div class="zm-video-thumb" data-dark-overlay="2.5" >
                  <img src="http://img.youtube.com/vi/13Qia8dJsjs/maxresdefault.jpg" width="420" height="270" alt="video">
                  <a class="video-activetor" href="https://www.youtube.com/watch?v=13Qia8dJsjs">
                    <i class="fa fa-play-circle-o"></i>
                  </a>
                </div>
                <div class="zm-video-info  text-white">
                  <h2 class="zm-post-title"><a href="blog-single-video.html">Bisikletli Kadın İnisiyatifi - Haftasonu Sürüş Etkinliği.</a></h2>
                  <div class="zm-post-meta">
                    <ul>
                      <li class="s-meta zm-post-time">1:43 min</li>
                      <li class="s-meta"><a href="#" class="zm-author">Bisikletli Kadın İnisiyatifi</a></li>
                      <li class="s-meta"><a href="#" class="zm-date">10 Nisan 2016</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single video post [video layout A] -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Video Post [View layout A]  -->
    <div class="zm-section bg-white pt-70 pb-40">
      <div class="container">
        <div class="row">
          <!-- Start left side -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 columns">
            <div class="row mb-40">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2 class="h6 header-color inline-block uppercase">En Çok Okunanlar</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="zm-posts">
                  <!-- Start single post layout C -->
                  <article class="zm-post-lay-c zm-single-post clearfix">
                    <div class="zm-post-thumb f-left">
                      <a href="#"><img src="images/post/c/1.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis f-right">
                      <div class="zm-post-header">
                        <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Bisikletli Yaşam</a></div>
                        <h2 class="zm-post-title"><a href="#">Kadınlar için bisiklet kılavuzu yayınladı.</a></h2>
                        <div class="zm-post-meta">
                          <ul>
                            <li class="s-meta"><a href="#" class="zm-author">Seçil YAKAN</a></li>
                            <li class="s-meta"><a href="#" class="zm-date">15 Haziran 2017</a></li>
                          </ul>
                        </div>
                        <div class="zm-post-content">
                          <p>Kadınlar için gündelik hayatta bisiklet binmeyi kolaylaştırıcı bilgi ve deneyimlerin yer aldığı kılavuz yayınladı.</p>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start single post layout C -->
                  <!-- Start single post layout C -->
                  <article class="zm-post-lay-c zm-single-post clearfix">
                    <div class="zm-post-thumb f-left">
                      <a href="#"><img src="images/post/c/2.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis f-right">
                      <div class="zm-post-header">
                        <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Sizden Gelenler</a></div>
                        <h2 class="zm-post-title"><a href="#">Kapadokya'da Bisiklet Sürüş Deneyimi</a></h2>
                        <div class="zm-post-meta">
                          <ul>
                            <li class="s-meta"><a href="#" class="zm-author">Gülay ÇAMURSOY</a></li>
                            <li class="s-meta"><a href="#" class="zm-date">28 Eylül 2018</a></li>
                          </ul>
                        </div>
                        <div class="zm-post-content">
                          <p>Kapadokya'nın eşşiz volkanik arazisinde birçok bisiklet parkuru var. Bisiklet sürmek için gerçekten enfes bir yer.</p>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start single post layout C -->
                  <!-- Start single post layout C -->
                  <article class="zm-post-lay-c zm-single-post clearfix">
                    <div class="zm-post-thumb f-left">
                      <a href="#"><img src="images/post/c/3.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis f-right">
                      <div class="zm-post-header">
                        <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Buluşma</a></div>
                        <h2 class="zm-post-title"><a href="#">Caddebostan sahilde bisiklet bakım onarım eğitimi.</a></h2>
                        <div class="zm-post-meta">
                          <ul>
                            <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                            <li class="s-meta"><a href="#" class="zm-date">2 Şubat 2018, 10:30</a></li>
                          </ul>
                        </div>
                        <div class="zm-post-content">
                          <p>Kim demiş kadınlar bisiklet tamir edemez diye. Bu kadınlar hem trafikte bisiklet sürüyor hem de tamir ediyor.</p>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start single post layout C -->
                  <!-- Start Advertisement -->
                  <!--                                         <div class="advertisement">
                                                              <div class="row mtb-40">
                                                                  <div class="col-md-12 text-center">
                                                                      <a href="#"><img src="images/ad/2.jpg" alt="bki destek"></a>
                                                                  </div>
                                                              </div>
                                                          </div> -->
                  <!-- End Advertisement -->
                  <!-- Start single post layout C -->
                  <article class="zm-post-lay-c zm-single-post clearfix">
                    <div class="zm-post-thumb f-left">
                      <a href="#"><img src="images/post/c/4.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis f-right">
                      <div class="zm-post-header">
                        <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Basın</a></div>
                        <h2 class="zm-post-title"><a href="haber.html">Bisikletli Kadınlar Facebook sahnesinde. <span style="color:red">&lsaquo;TIKLA&rsaquo;</span></a></h2>
                        <div class="zm-post-meta">
                          <ul>
                            <li class="s-meta"><a href="#" class="zm-author">Özlem OKTAY</a></li>
                            <li class="s-meta"><a href="#" class="zm-date">19 Şubat 2018</a></li>
                          </ul>
                        </div>
                        <div class="zm-post-content">
                          <p>Facebook “Communities Summit Europe (FCS)“ etkinliği ile topluluk liderlerini Londra’da bir araya getirdi. Avrupa’dan 150 grubun katılığı etkinlikte Türkiye’den de temsilciler yer aldı. Türkiye katılımcılardan öne çıkan topluluk ise Bisikletli Kadın İnisiyatifi oldu.</p>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start single post layout C -->
                  <!-- Start single post layout C -->
                  <article class="zm-post-lay-c zm-single-post clearfix">
                    <div class="zm-post-thumb f-left">
                      <a href="#"><img src="images/post/c/5.jpg" alt="img"></a>
                    </div>
                    <div class="zm-post-dis f-right">
                      <div class="zm-post-header">
                        <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Etkinlik</a></div>
                        <h2 class="zm-post-title"><a href="#">Hale SARGIN'ın söyleşisi yarın akşam Bisikletli Mekan'da. Hepiniz davetlisiniz :)</a></h2>
                        <div class="zm-post-meta">
                          <ul>
                            <li class="s-meta"><a href="#" class="zm-author">Zeynep ARABOĞLU</a></li>
                            <li class="s-meta"><a href="#" class="zm-date">20 Ocak 2019</a></li>
                          </ul>
                        </div>
                        <div class="zm-post-content">
                          <p>"İşim Gücüm Gezmek" blogunun sahibi gezgin kadın bisikletli Hale SARGIN yarın "Bisikletli Mekan"da bisikletli kadınlarla buluşacak.</p>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start single post layout C -->
                </div>
              </div>
            </div>
          </div>
          <!-- End left side -->
          <!-- Start Right sidebar -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
            <div class="row">
              <!-- Start Subscribe From -->
              <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12 xs-mt-40 sm-mt-50 md-mt-60">
                <aside class="subscribe-form bg-dark text-center sidebar">
                  <h3 class="uppercase zm-post-title">Bisikletli Kadın E-Bülten</h3>
                  <p>Türkiye'deki 6500'den fazla kadının üye olduğu topluluğumuzdan haberdar olmak için</p>
                  <form action="#">
                    <input type="text" placeholder="İsim Soyad">
                    <input type="email" placeholder="Eposta Adresi" required="">
                    <input type="submit" value="E-Bültene Kaydol">
                  </form>
                </aside>
              </div>
              <!-- End Subscribe From -->
              <aside class="zm-tagcloud-list col-xs-12 col-sm-6 col-md-6 col-lg-12 mt-60">
                <div class="row mb-40">
                  <div class="col-md-12">
                    <div class="section-title">
                      <h2 class="h6 header-color inline-block uppercase">Etiketler</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="zm-tagcloud">
                      <a href="#">Bisiklet Eğitimleri</a>
                      <a href="#">Sürüş Etkinlikleri</a>
                      <a href="#">Buluşmalar</a>
                      <a href="#">Pedallayan Kadınlar</a>
                      <a href="#">Bisikletli Yaşam</a>
                      <a href="#">Etkinlik</a>
                      <a href="#">Bisiklet Festivallari</a>
                      <a href="#">Basın</a>
                      <a href="#">Film ve Belgeseller</a>
                      <a href="#">Nasıl Başlarım</a>
                    </div>
                  </div>
                </div>
              </aside>
              <!-- Start post layout E -->
              <aside class="zm-post-lay-e-area col-xs-12 col-sm-6 col-md-6 col-lg-12 mt-60 hidden-md">
                <div class="row mb-40">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-title">
                      <h2 class="h6 header-color inline-block uppercase">Kadın ve Kent</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="zm-posts">
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post clearfix">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/1.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">Kadın Dostu Kent Değil, Kent Dostu Kadınlar Var</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">Çiçek TAHAOĞLU</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">26 Eylül 2014</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post clearfix">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/2.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">Bisiklet, Kadınların Toplumda Görünür Olması İçin Bir Fırsattır</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">Pınar PİNZUTİ</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">26 Haziran 2017</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post hidden-md clearfix">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/3.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">'Süslü kadınlar', egzoz kokusu yerine parfüm kokusu için pe...</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">Sema GÜR</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">23 Eylül 2018</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post hidden-md clearfix hidden-sm">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/4.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">Toplumsal cinsiyetin kent ve mekanla ilişkisi ne?</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">KAOS GL</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">09 Mart 2017</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post hidden-md clearfix hidden-sm">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/5.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">Alternatif Ulaşım Aracı Olarak Bisikleti Düşünmek</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">Nevra TAŞLIDAN</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">06 Aralık 2010</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                      <!-- Start single post layout E -->
                      <article class="zm-post-lay-e zm-single-post hidden-md clearfix hidden-sm">
                        <div class="zm-post-thumb f-left">
                          <a href="#"><img src="images/post/kadin-ve-kent/6.jpg" alt="img"></a>
                        </div>
                        <div class="zm-post-dis f-right">
                          <div class="zm-post-header">
                            <h2 class="zm-post-title"><a href="#">Ulaşımda ‘Pembe’ Ayrımcılığına Karşı Çıkmamız İçin 5 Neden</a></h2>
                            <div class="zm-post-meta">
                              <ul>
                                <li class="s-meta"><a href="#" class="zm-author">Editör</a></li>
                                <li class="s-meta"><a href="#" class="zm-date">19 Ekim 2017</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <!-- Start single post layout E -->
                    </div>
                  </div>
                </div>
              </aside>
              <!-- Start post layout E -->
            </div>
          </div>
          <!-- End Right sidebar -->
        </div>
        <!-- Start pagination area -->
        <!--                     <div class="row hidden-xs">
                                <div class="zm-pagination-wrap mt-70">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <nav class="zm-pagination ptb-40 text-center">
                                                    <ul class="page-numbers">
                                                        <li><a class="prev page-numbers" href="#">Previous</a></li>
                                                        <li><span class="page-numbers current">1</span></li>
                                                        <li><a class="page-numbers" href="#">2</a></li>
                                                        <li><a class="page-numbers" href="#">3</a></li>
                                                        <li><a class="page-numbers" href="#">4</a></li>
                                                        <li><a class="page-numbers" href="#">5</a></li>
                                                        <li><span class="page-numbers zm-pgi-dots">...</span></li>
                                                        <li><a class="page-numbers" href="#">15</a></li>
                                                        <li><a class="next page-numbers" href="#">Next</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
        <!-- End pagination area -->
        <!-- Start Advertisement -->
        <div class="advertisement">
          <div class="row mt-40">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <a href="#"><img src="images/ad/2.jpg" alt="bki destek"></a>
            </div>
          </div>
        </div>
        <!-- End Advertisement -->
      </div>
    </div>
  </section>
  <!-- End page content -->
  <!-- Start footer area -->
  <footer id="footer" class="footer-wrapper footer-1">
    <!-- Start footer top area -->
    <div class="footer-top-wrap ptb-70 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 hidden-sm">
            <div class="zm-widget pr-40">
              <h2 class="h6 zm-widget-title uppercase text-white mb-30">Bisikletli Kadın İnisiyatifi Hakkında</h2>
              <div class="zm-widget-content">
                <p>Bisikletli Kadın İnisiyatifi, gündelik hayatta bisiklet süren veya sürmek isteyen kadınların oluşturduğu bir topluluk olup, sadece kadınlara özel bir facebook grubu üzerinden koordinasyonunu sağlar.</p>
                <p>Grup sadece bisiklet süren kadınlara açık olmayıp, "ah keşke bisiklet sürmeyi öğrensem", "trafiğe çıkmaya korkuyorum" diyen kadınları da kucaklar.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2">
            <div class="zm-widget">
              <h2 class="h6 zm-widget-title uppercase text-white mb-30">Sosyal Medya</h2>
              <div class="zm-widget-content">
                <div class="zm-social-media zm-social-1">
                  <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i>Facebook grubuna üye ol</a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i>Twitter'da bizi takip et</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i>Youtube kanalına abone ol</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i>Instagram'da bizi beğen</a></li>
                    <li><a href="mailto:bki@bisikletlikadin.com?Subject=Merhaba" target="_top"><i class="fa fa-at"></i>Bize mail ile ulaş</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
            <div class="zm-widget pr-50 pl-20">
              <h2 class="h6 zm-widget-title uppercase text-white mb-30">Popüler Kategoriler</h2>
              <div class="zm-widget-content">
                <div class="zm-category-widget zm-category-1">
                  <ul>
                    <li><a href="#">Bisikletli Yaşam<span>22</span></a></li>
                    <li><a href="#">Buluşma<span>18</span></a></li>
                    <li><a href="#">Etkinlik<span>09</span></a></li>
                    <li><a href="#">Basın<span>35</span></a></li>
                    <li><a href="#">Sizden Gelenler<span>7</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
            <div class="zm-widget">
              <h2 class="h6 zm-widget-title uppercase text-white mb-30">Bisikletli Kadın E-Bülten</h2>
              <!-- Start Subscribe From -->
              <div class="zm-widget-content">
                <div class="subscribe-form subscribe-footer">
                  <p>Türkiye'deki 6500'den fazla kadının üye olduğu topluluğumuzdan haberdar olmak için.</p>
                  <form action="#">
                    <input type="text" placeholder="İsim Soyad">
                    <input type="email" placeholder="Eposta Adres" required="">
                    <input type="submit" value="E-Bültene Kaydol">
                  </form>
                </div>
              </div>
              <!-- End Subscribe From -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End footer top area -->
    <div class="footer-buttom bg-black ptb-15">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="zm-copyright">
              <p class="uppercase">&copy; 2019 Bisikletli Kadın İnisiyatifi. Tüm hakları saklıdır.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-right hidden-xs">
            <nav class="footer-menu zm-secondary-menu text-right">
              <ul>
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Serbest Kürsü</a></li>
                <li><a href="#">Basında Biz</a></li>
                <li><a href="#">İletişim</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer area -->
</div>
<!-- Body main wrapper end -->
